@Model ASP.NET_2_200412907.Models.Car
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>@Model.Id</p>
<p>@Model.Brand</p>
<p>@Model.Model</p>
<p>@Model.Type</p>
<p>@Model.Year</p>