
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var car in Model)
{
<tr>
    <td> @car.Id</td>
    <td> @car.Brand</td>
    <td> @car.Model</td>
    <td> @car.Type</td>
    <td> @car.Year</td>
</tr>

}